
body {
	padding:0;
	margin:0;
	font-family: 'Abril Fatface', cursive;
}
.main-slide {
	height:80vh;
	width:80vw;
	margin:10vh 10vw;
	overflow: hidden;
	position: relative;
}
.large-block {
	height:100%;
	width:100%;
	float:right;
	position: absolute;
}
.background-img {
	object-fit: cover;
	position: absolute;
	min-width:100%;
	min-height:100%;
	left:0;
	top:0;
	animation: backgroundSize 3s;
	z-index:-1;
}
.small-block {
	width:25%;
	float:right;
	height:100%;
}
.inner-container {
	width:100%;
	height:100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	overflow: hidden;	
}
@keyframes backgroundSize {
	0% {
		transform:scale(1.1);
	}
	100% {
		transform:scale(1);
	}
}
.inner {
	background-color: rgba(239, 80, 101, 0.4);
	transform: translateX(-100%);
	transition: transform 1s;
}
.slide2 .inner {
	background-color: rgba(239, 200, 30, 0.4);
}
.innerHalf {
	height:50%;
}
.b3 .inner, .b1 .inner {
	grid-row-start:1;
	grid-row-end:4;
}
.b2 .inner {
	grid-row-start:4;
	grid-row-end:5;
}
.b4 .overflow {
	grid-row-start:1;
	grid-row-end:3;
	overflow: hidden;
	transition:transform 2s;
}
.b4 .overflow2 {
	grid-row-start:3;
	grid-row-end:5;
	overflow: hidden;
	transition:transform 2s;

}
.b4 .inner {
	opacity:0;
	width:100%;
	height:100%;
	background:url('watch.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	transform:scale(1.5);
	transition: opacity 3s, transform 2s;
}
.b4 .inner2 {
	grid-row-start:3;
	grid-row-end:5;
	height:100%;
	background:url('dumbell.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	transform:scale(2.5);
	transition: opacity 1s, transform 5s;
}	
.b4-animate .inner, .b4-animate .inner2 {
	opacity:1;
	transform:scale(1);
}
.load-swipe {
	transform: translateX(0%);
}
.next-swipe {
	transform: translateX(100%);
}
.previous-swipe {
	transform: translateX(-100%);
}
.wiper-next {
	height:100%;
	background-color: #fff;
	width:0%;
	position: absolute;
	transition:width 2s;
	z-index:5;
}
.wiper-previous, .wiper-load {
	height:100%;
	background-color: #fff;
	width:100%;
	position: absolute;
	top:0;
	left:100%;
	transition:left 2s;
	z-index:5;
}
.wiper-load {
	left:0;
}
.next-wipe {
	width:100%;
}
.previous-wipe {
	left:0;
}
.load-wipe {
	left:100%;
}
.controls {
	margin:auto;
	text-align:center;
	margin-top:-10vh;
	z-index:999;
	position: relative;
}
p {
	display: inline-block;
	padding:0 20px;	
}


